<div class="nf page">
  <h1>Not found</h1>
  <p class="frown">
    <span frown>:(</span>
  </p>
  <div>
    <p>Sorry, but the page you were trying to view does not exist.</p>
    <p>It looks like this was the result of either:</p>
    <ul>
      <li>a mistyped address</li>
      <li>an out-of-date link</li>
    </ul>
  </div>
  
  <h2>Other things to try</h2>
  <form name="nabe-search" class="nabe-search" action="/search/articles/" method="post">
    <p>
      <input type="search" name="q" autocomplete="off" placeholder="Search" />
    </p>
  </form>
</div>