<div class="page">
  <h1 class="entry-title">درباره ند</h1>
  <div class="entry-content">
    <p>
	هدف ند، بدست دادن راهی ساده برای ساخت برنامه های قابل گسترشِ تحت شبکه است. در مثال وب سرور "Hello World" که در بالا از نظر گذشت، تعداد زیادی از کانکشن ها به طور همزمان قابل پردازش اند. ند ( از طریق <code>epoll</code>، <code>kqueue</code>،
        <code class="sh_none">/dev/poll</code>، یا <code>select</code> ) به سیستم عامل فرمان می دهد که هر زمان کانکشن جدیدی ایجاد شد، وی را باخبر سازد. سپس به حالت sleep می رود.
 اگر اتصال جدیدی برقرار شد، سیستم عامل callback را صدا می زند. هر کانکشن در واقع تنها یک اختصاص دهی کوچکِ Heap است.
      </p>

      <p>
این روش با مدلهای همزمانی (concurrency) کنونی که در آن از Thread های سیستم عامل استفاده می شود متفاوت است. برنامه های تحت شبکه که بر پایه Thread ها ایجاد می شوند ناکارآمد و برای استفاده، پیچیده اند. <a href="http://www.kegel.com/c10k.html">اینجا</a> و <a href="http://bulk.fefe.de/scalable-networking.pdf">اینجا</a> را ببینید.
ند در استفاده بهینه از حافظه تحت فشارهای بالا نسبت به سیستم هایی که برای هر کانکشن ۲ مگابایت thread stack اختصاص می دهند، بسیار بهتر عمل می کند.
گذشته از این، کاربرانِ ند دیگر نگرانی در مورد dead-lock ها ندارند&mdash;هیچ قفلی وجود ندارد. بعلاوه هیچ دستوری در ند مستقیماً کار I/O را انجام نمی دهد، بنابراین پردازه هیچگاه بلاک نمی شود. و چون هیچ چیزی بلاک نمی شود برنامه نویسان غیر حرفه ای هم می توانند سیستم های پرسرعتی بنویسند.
      </p>

      <p>
	ند در طراحی تحت تأثیر و بسیار شبیه سیستم هایی نظیر 
<a href="http://rubyeventmachine.com/">Event Machine</a> رابی  و یا <a href="http://twistedmatrix.com/">Twisted</a> پایتن (Python) است. ند مدل رویدادگرا را کمی جلوتر می برد&mdash; در ند چرخه ی رویداد به عنوان یک کتابخانه جدا از زبان نیست، بلکه با زبان گره خرده است. در سیستم های دیگر یک blocking call برای شروع چرخه رویداد وجود دارد.
متد رایج این است که callback های مورد نیاز در شروع اسکریپت نوشته می شوند و در پایان سرور از طریق اجرای یک متدِ بلاک کننده یا Blocking Call شروع به کار می کند. مثلاُ در رابی داریم: <code dir="ltr">EventMachine::run()</code>. در ند چنین متدی برای شروع حلقه رویداد وجود ندارد. ند به سادگی پس از پردازش اسکریپت ورودی به چرخه ی رویداد وارد می شود. ند با تشخیص اینکه دیگر هیچ callback ای برای اجرا وجود ندارد از این حلقه خارج می شود. این عملکرد مانند اجرای جاوا اسکریپت در مرورگرهاست. حلقه رویداد از دید کاربر مخفی است.
      </p>

      <p>در ند HTTP یک پروتکل ممتاز است. این کتابخانه بر اساس تجربیات نویسنده آن در توسعه برنامه های تحت شبکه و وب سرورها ایجاد شدهاست. برای مثال data streaming در اکثر framework ها کاری غیر ممکن است. ند سعی کرده است که این مشکلات را در <a href="http://github.com/ry/http-parser/tree/master">پارسر HTTP</a> خود و API های مربوط به آن حل کند. این ویژگی به همراه ساختار رویدادگرای ند، می تواند مبنایی برای بهترین کتابخانه ها و Framework های تحت وب باشد.
      </p>

      <p>
        <i>اما همزمانی در سیستم های چند پردازنده ای چطور؟ آیا thread ها برای گسترش برنامه روی کامپیوتر های چند هسته ای ضروری نیستند؟
        </i> در ند می توانید از دستور <code dir="ltr">child_process.fork()</code> برای شروع پروسس های جدید استفاده کنید. این پروسس های جدید به صورت موازی اجرا خواهند شد. همچنین می توانید از ماژول <a href="http://nodejs.org/docs/latest/api/cluster.html" title="اطلاعات بیشتر">cluster</a> به منظور load balancing کانکشن ها روی چند پروسس استفاده کنید.
      </p>

      <p>
        همچنین ببینید:
        <ul>
          <li><a href="http://s3.amazonaws.com/four.livejournal/20091117/jsconf.pdf">اسلایدهای</a> JSConf 2009</li>
          <li><a href="http://nodejs.org/jsconf2010.pdf">اسلایدهای</a> JSConf 2010</li>
          <li><a href="http://www.yuiblog.com/blog/2010/05/20/video-dahl/">ویدئو</a> سخنرانی در یاهو، ماه می ۲۰۱۰</li>
        </ul>
      </p>
  </div>
</div>
