<div class="page">
  <h2 class="entry-title">نحوه مشارکت</h2>
  <div class="entry-content">
    <p>شما هم می تونید با ارسال مقالات خودتون به گسترش جامعه ند فارسی کمک کنید. سعی کردیم این کار در نهایت سادگی باشه. مراحل زیر نحوه مشارکت رو نشون می ده:</p>
    <h3>۱. حساب کاربری در github</h3>
    <p>اگر تا به حال از github استفاده نکردید پیشنهاد می کنم سریعتر اینکارو انجام بدید و یک حساب کاربری ایجاد کنید. github مخزن بسیاری از پروژه های متن باز مشهور مثل nodejs، ruby، jQuery و ...  هست.</p>
    <p>
      <div class="imgcontainer">
        <img src="/img/pages/contribute-1.png"/>
      </div>
    </p>
    <h3>۲. fork کردن مخزن سایت nodejs.ir</h3>
    <p>برای اینکار به <a href="https://github.com/milani/nodejs.ir">آدرس مخزن سایت</a> مراجعه کنید و از روی مخزن یک fork تهیه کنید. حالا می تونید هر تغییری که مایل بودید اعمال کنید. اگر با نحوه کار github و git آشنایی ندارید به <a href="http://help.github.com/">این صفحه</a> مراجعه کنید.</p>
    <p>
      <div class="imgcontainer">
        <img src="/img/pages/contribute-2.png"/>
      </div>
    </p>
    <h3>۳. اضافه کردن مقاله خودتون</h3>
    <p>حالا آماده اید که مقالات خودتون رو به سایت اضافه کنید. حتی می تونید در بهبود قالب سایت هم به ما کمک کنید.</p>
    <p>برای اضافه کردن مقاله خودتون، به ریشه مخزن و پوشه articles برید. یک فایل جدید بسازید. توجه کنید که اسم فایل حتما انگلیسی باشه و از کاراکترهای غیر مجاز استفاده نشه چون این اسم به عنوان url برای آدرس مقاله شما بکار میره. پسوند فایل هم markdown باشه. فرض کنیم که فایلی که درست کردید اسمش هست example.markdown. آدرس مقاله شما می شه: http://nodejs.ir/blog/example</p>
    <p>فرمت این فایل باید شبیه مثال زیر باشه تا در سایت درست نمایش داده بشه.</p>
<pre class="sh_none">
Title: اسم مقاله شما<br/>
Author: نام و نام خانوادگی شما<br/>
Date: 2011-01-01 01:01:01 GMT+0330 (IRDT)<br/>
Categories: comma,seperated,tags<br/>
<br/>
متن مقاله شما در ادامه قرار می گیرد.
</pre>
    <p><strong>توجه داشته باشید که تاریخ ارسال مقاله رو حتما بروز کنید!</strong></p>
    <p>برای راحتی در نوشتن مقالات می تونید از زبان markdown استفاده کنید اما اگر نیاز داشتید کدهای html هم پشتیبانی می شوند. یک سری نکات دیگه هم هست که در زیر اشاره شده:</p>
    <ul>
      <li>اگر در مقالتون از عکس استفاده کردید می تونید عکس ها رو هم به مخزن اضافه کنید. یک پوشه با اسم مقالتون در پوشه <code>articles/images</code> بسازید و عکس ها رو داخل اون بریزید. حالا می تونید لینک عکس ها رو به صورت زیر مشخص کنید ( فرمت markdown نمایش داده شده. برای استفاده از تگ html به صورت مشابه عمل کنید ):<br/>
        <pre>![Alt text](/images/your-article/your-image.png "Optional title")</pre>
      </li>
      <li>دقت کنید که عرض تصاویر بیشتر از ۴۵۲ پیکسل نباشه.</li>
      <li>سعی کنید یک یا دو پاراگراف اول خلاصه مقاله باشه. می تونید از تگ <span dir="ltr">&lt;!--more--&gt;</span> برای درج دکمه «ادامه مطلب» استفاده کنید.</li>
    </ul>
    <h3>۴. اضافه کردن بیوگرافی کوتاهی از خودتون</h3>
    <p><i>اضافه کردن بیوگرافی اختیاری است. اگر علاقه ای به اینکار ندارید به مرحله بعد برید!</i></p>
    <p>در ریشه مخزن پوشه ای به نام authors وجود داره. داخل این پوشه یک فایل جدید با نام خودتون ایجاد کنید به این صورت که این نام با نامی که به عنوان نویسنده در مقاله درج کردید یکی باشه و به جای فاصله از خط تیره استفاده بشه. پسوند فایل هم <code dir="ltr">.markdown</code> هست.</p>
    <p>محتوای این فایل باید به فرمت زیر باشه. دقت کنید که آدرس ایمیل تنها برای پیدا کردن عکس شما استفاده میشه و جایی نمایش داده نمیشه.</p>
<pre class="sh_none">
author: نام و نام خانوادگی شما<br/>
email: username@example.com<br/>
twitter: username<br/>
github: username<br/>
website: http://example.com<br/>
<br/>
بیوگرافی کوتاهی از خودتون به اندازه یک پاراگراف<br/>
</pre>

    <h3>۵. بروز کردن مخزن در github</h3>
    <p>خوب حالا کافیه مخزن nodejs.ir رو که fork کردید بروز کنید. مخزن local خودتون رو کامیت کنید و بعد هم تغییرات رو به github بفرستید. </p>
    <pre class="sh_sh">
$ git commit -a -m "YOUR-ARTICLE.markdown added"<br/>
$ git push
    </pre>
    <p>خوب حالا به مخزن nodejs.ir خودتون در github برید و دکمه Pull Request رو کلیک کنید.</p>
    <p>
      <div class="imgcontainer">
        <img src="/img/pages/contribute-3.png"/>
      </div>
    </p>
    <h3>۶. تشکر</h3>
    <p>اگر مشکلی در درخواست شما وجود نداشته باشه بعد از بررسی، مقاله شما در سایت درج خواهد شد. اگر هم مشکلی باشه که به شما اطلاع می دیم.</p>
    <p>از اینکه در گسترش ند فارسی به ما کمک می کنید سپاس گزاریم.</p>

  </div>
</div>
