<section id="articles">
{{each(index, article) articles}}
  <article class="post">
    <div class="entry-header">
      <h1 class="entry-title"><a href="/blog/${article.name}">${article.title}</a></h1>
      <span class="submitted">ارسال شده توسط 
      {{if article.authorLink }}
      <a href="/author/${article.authorLink}">${article.author}</a>
      {{else}}
      ${article.author}
      {{/if}}
       |{{if config.disqus}} <a href="/blog/${article.name}#disqus_thread" title="مشاهده نظرات">نظرات</a> |{{/if}} ${article.date}</span>
    </div>
    <section class="entry-content">
      {{html article.markdown}}      
    </section>
    <div class="readmore"><a href="/blog/${article.name}">ادامه مطلب...</a></div>
    <div class="entry-meta">
        {{if article.categories}}
        <ol class="tags">
        {{each(index, category) article.categories}}
          <li><a href="/tag/${category}">${category}</a></li>
        {{/each}}
        </ol>
        {{/if}}
    </div>
    <div class="clearfix"></div>
  </article>
  <div class="clearfix"></div>
{{/each}}
</section>
